## Assignment 2: Part 2. Data Cleaning
### Due Date: Sunday March 19th 11:59PM

### The purpose of this assignment is to clean a data set so that it can be analyzed.  The dataset is a modified version of the `Craft Beer Bar Sales` Kaggle dataset.  The original dataset is available here: https://www.kaggle.com/datasets/podsyp/sales-in-craft-beer-bar.

### Directions
- rename this file as `A2_W23_DataCleaning_CUID.ipynb` where CUID Is your Carleton University Identification
- pay attention to where your file is saved as you will need to upload it to Brightspace
- follow the instructions below
- when completed, upload your .ipynb file to Brightspace.

### The data set `should` contain the following attributes

- Product_code: unique product identifier
- Vendor_code: Manufacturer's name
- Name: SKU
- Retail_price: Catalog price
- Country_of_Origin: Manufacturer country
- Size: sale item size
- Vendor: Manufacturer's name
- ABV: alcohol by volume
- Product_type: the type of product

### Please type your name here: Malik Abdulmalik
### Please type your student number here: 101202525

In [180]:
import pandas as pd
import numpy as np

### Step 1a. `(1 pt)` Read the `CraftBeerV1.csv` file into a dataframe named `df` and list its columns. This can be done in the same cell.

In [181]:
df = pd.read_csv('CraftBeerV1.csv')
print(df.columns)

,Product_code,Vendor_code,Name,Retail_price,Base_unit,Country_of_Origin,Size,ABV,Vendor,Product_type
0,5028,NaN,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,NaN,Beer
1,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,NaN,Beer
2,1340,NaN,1000 IBU Imperial IPA Barrel l,960.0,Liters,NaN,1.000,9.6,NaN,Beer
3,4372,NaN,18th Street Brewery,NaN,NaN,USA,NaN,NaN,NaN,Beer
4,4302,NaN,18th Street Brewery Deal With The Devil 0.473,630.0,Pieces,USA,0.473,8.5,NaN,Beer
...,...,...,...,...,...,...,...,...,...,...
5314,4372,NaN,18th Street Brewery,NaN,NaN,USA,NaN,NaN,NaN,Beer
5315,4302,NaN,18th Street Brewery Deal With The Devil 0.473,630.0,Pieces,USA,0.473,8.5,NaN,Beer
5316,4372,NaN,18th Street Brewery,NaN,NaN,USA,NaN,NaN,NaN,Beer
5317,4302,NaN,18th Street Brewery Deal With The Devil 0.473,630.0,Pieces,USA,0.473,8.5,NaN,Beer
5318,999,999,Ralfs OTT,637.0,96,99,0.330,99.0,999,Beer

### Step 1b. `(2 pts)` Remove column(s) from your dataframe that do not exist in the data dictionary above.  Use as many cells as you need and ensure you save the results back to your dataframe `df`. Then, display the data frame. This can be done in the same cell.

In [182]:
df = df.drop(['Base_unit'], axis=1)
print(df)

,Product_code,Vendor_code,Name,Retail_price,Country_of_Origin,Size,ABV,Vendor,Product_type
0,5028,NaN,1 Symbiotica Apple 0.375,300.0,Russia,0.375,4.5,NaN,Beer
1,4846,NaN,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Russia,0.330,3.0,NaN,Beer
2,1340,NaN,1000 IBU Imperial IPA Barrel l,960.0,NaN,1.000,9.6,NaN,Beer
3,4372,NaN,18th Street Brewery,NaN,USA,NaN,NaN,NaN,Beer
4,4302,NaN,18th Street Brewery Deal With The Devil 0.473,630.0,USA,0.473,8.5,NaN,Beer
...,...,...,...,...,...,...,...,...,...
5314,4372,NaN,18th Street Brewery,NaN,USA,NaN,NaN,NaN,Beer
5315,4302,NaN,18th Street Brewery Deal With The Devil 0.473,630.0,USA,0.473,8.5,NaN,Beer
5316,4372,NaN,18th Street Brewery,NaN,USA,NaN,NaN,NaN,Beer
5317,4302,NaN,18th Street Brewery Deal With The Devil 0.473,630.0,USA,0.473,8.5,NaN,Beer
5318,999,999,Ralfs OTT,637.0,99,0.330,99.0,999,Beer

### Step 1c.  `(2 pts)` Determine the number of unique values for each column in the dataframe. `(1 pt)`  If an attribute has only a single unique value, remove it from the dataframe `(1 pt)`. Show all steps. Use as many cells as you need and ensure you save the results back to your dataframe `df`.

In [183]:
num_unique = df.nunique()
print(num_unique)
df = df.drop(['Product_type'], axis=1)
print(df)

Product_code         5314
Vendor_code           272
Name                 5194
Retail_price          183
Country_of_Origin      29
Size                   31
ABV                   152
Vendor                272
Product_type            1
dtype: int64

### Step 1d. `(2 pts)` Compare the `Vendor_code` column with the `Vendor` column `(1 pt)`.  If they contain the same data, delete one of the columns `(1 pt)`. Show all steps (ie. prove that the two columns do/do not contain the same data). Use as many cells as you need and ensure you save the results back to your dataframe `df`.

In [185]:
comparison = df['Vendor_code'].compare(df['Vendor'])
print(comparison)
if df['Vendor_code'].equals(df['Vendor']):
    df = df.drop(['Vendor_code'], axis=1)
print(df)

Empty DataFrame
Columns: [self, other]
Index: []

### Step 1.e. `(3 pts)` Determine whether there are any duplicate rows `(1 pt)`.  If there are duplicates, display them to the screen `(1 pt)`.  If duplicate rows exist, remove them from the dataset and reset the index of the dataframe `(1 pt)`. Show all steps. Use as many cells as you need and ensure you save the results (if there any) back to your dataframe `df`.

In [188]:
duplicates = df[df.duplicated()]
print(duplicates)
df = df.drop_duplicates(ignore_index=True)
print(df)

,Product_code,Name,Retail_price,Country_of_Origin,Size,ABV,Vendor
5314,4372,18th Street Brewery,NaN,USA,NaN,NaN,NaN
5315,4302,18th Street Brewery Deal With The Devil 0.473,630.0,USA,0.473,8.5,NaN
5316,4372,18th Street Brewery,NaN,USA,NaN,NaN,NaN
5317,4302,18th Street Brewery Deal With The Devil 0.473,630.0,USA,0.473,8.5,NaN

### Step 2a. `(2 pts)` Display basic statistical information for the dataframe's numeric attributes.  Ensure that the numeric attributes are shown vertically on the left and the various statistical attributes are columns.

In [190]:
print(df.describe().transpose())

       Product_code  Retail_price         Size          ABV
count   5315.000000   4905.000000  4627.000000  4623.000000
mean    2690.526435    597.600830     0.626853     7.094157
std     1543.247097    515.154883     0.953197     2.805031
min        2.000000      0.000000     0.150000     0.500000
25%     1356.500000    330.000000     0.330000     5.300000
50%     2690.000000    480.000000     0.500000     6.500000
75%     4027.500000    720.000000     1.000000     8.200000
max     5358.000000   8484.850000    30.000000    99.000000

### Step 2b. `(4 pts)` Look through the `min` column to determine if there are any 0s.  If there are, think about whether a 0 is a valid value for the attribute in question.  If you think it's an error, first determine how many occurrences of 0 exist for the attribute in the dataframe `(1 pt)`. Next display only the rows that have a 0 for the attribute in question `(1 pt)`.  Assign `Nan` using the numpy library to all occurrences of 0 for the attribute under question `(1 pt)`. Finally, display value counts for every unique value of the attribute in question ensuring that NaN gets counted `(1 pt)`.

In [191]:
zero_count = (df['Retail_price'] == 0).sum()
print(zero_count)
zero_rows = df[df['Retail_price'] == 0]
print(zero_rows)
df.loc[df['Retail_price'] == 0, 'Retail_price'] = np.nan
print(df['Retail_price'].value_counts(dropna=False))

319

### Step 2c. `(3 pts)` Create box plots for `Size`, and `ABV`.

In [195]:
df.boxplot('Size')

In [196]:
df.boxplot('ABV')

### Step 2d. `(14 pts)` Visually inspect each boxplot and determine if there are any statistical outliers for each of the two attributes.  You can assume a statistical outlier is any data point that exceeds the upper or lower whisker.  For each attribute that contains outlier(s):
- calculate and display the IQR
- calculate and display the necessary min and/or max values that are the thresholds for determining outliers (use the 75th + 1.5 * IQR and 25th - 1.5 * IQR formula discussed in class)
- use the above information to display the row(s) that contain the outlier

In [197]:
SizeQ1 = df['Size'].quantile(0.25)
SizeQ3 = df['Size'].quantile(0.75)
print(SizeQ1,SizeQ3)

0.33 1.0

In [198]:
SizeIQR = SizeQ3 - SizeQ1
print(SizeIQR)

0.6699999999999999

In [199]:
OuthighSize = SizeQ3 + 1.5*SizeIQR
OutlowSize = SizeQ1 - 1.5*SizeIQR
print(OutlowSize, OuthighSize)

-0.6749999999999998 2.005

In [200]:
(df['Size'] < OutlowSize) | (df['Size'] > OuthighSize)

0       False
1       False
2       False
3       False
4       False
        ...
5310    False
5311    False
5312    False
5313    False
5314    False
Name: Size, Length: 5315, dtype: bool

In [201]:
SizeoutRows = (df['Size'] < OutlowSize) | (df['Size'] > OuthighSize)
df[SizeoutRows]

,Product_code,Name,Retail_price,Country_of_Origin,Size,ABV,Vendor
356,1842,Alvinne Kjuve Freddi/Cuvee Freddy OA Barrel,1280.0,Belgium,20.0,8.0,Alvinne
357,1843,Alvinne Fi/Phi Barrel,1120.0,Belgium,20.0,8.0,Alvinne
455,558,"Anker Cuvee Van De Keizer Blauw 20/ 11% / 3,0",3200.0,Belgium,3.0,11.0,Anker
2264,2190,Gouden Carolus Classic / Collector's Edition 2...,5500.0,Belgium,3.0,8.5,Het Anker
2265,2191,Gouden Carolus CuvÃ©e van de Keizer Imperial Da...,4500.0,Belgium,3.0,11.0,Het Anker
3240,1844,"Nogne O Imperial Brown Ale 7,5%",960.0,NaN,20.0,7.5,NaN
4629,3115,To Ol Santa Gose 0.Barrel 30L,960.0,Denmark,30.0,4.0,To Ol
4657,1632,To Ol Dzhujsi IPA,880.0,Denmark,30.0,8.5,To Ol
5226,1679,AjViBiSi Solted Karamel Porter Ale Barrel l ne...,800.0,NaN,10.0,6.0,NaN
5260,432,Mikkeller Black Bottle,NaN,Belgium,30.0,5.5,Mikkeller

In [202]:
ABVQ1 = df['ABV'].quantile(0.25)
ABVQ3 = df['ABV'].quantile(0.75)
print(ABVQ1,ABVQ3)

5.3 8.2

In [203]:
ABVIQR = ABVQ3 - ABVQ1
print(ABVIQR)

2.8999999999999995

In [204]:
OuthighABV = ABVQ3 + 1.5*ABVIQR
OutlowABV = ABVQ1 - 1.5*ABVIQR
print(OutlowABV, OuthighABV)

0.9500000000000002 12.549999999999999

In [205]:
(df['ABV'] < OutlowSize) | (df['ABV'] > OuthighSize)

0        True
1        True
2        True
3       False
4        True
        ...
5310     True
5311     True
5312     True
5313     True
5314     True
Name: ABV, Length: 5315, dtype: bool

In [206]:
ABVoutRows = (df['ABV'] < OutlowABV) | (df['ABV'] > OuthighABV)
df[ABVoutRows]

,Product_code,Name,Retail_price,Country_of_Origin,Size,ABV,Vendor
65,2999,Aegir Tors Hammar Barleywine 0.33,720.0,Norway,0.330,13.2,Aegir
66,2233,"Aegir Tors Hammar Barleywine 13,2% Barrel",1200.0,Norway,1.000,13.2,Aegir
67,2075,Aegir Ragnarek Jubileumsol 2017,NaN,Norway,0.330,15.0,Aegir
176,5127,AF Brew La Lobotomie Cerebral 200.33,700.0,Russia,0.330,15.0,AF Brew
182,3023,AF Brew Love & Squalor Barrel,1000.0,Russia,1.000,14.3,AF Brew
...,...,...,...,...,...,...,...
4996,4255,XP Envoy of Doom Barrel,1000.0,Russia,1.000,13.0,XP Brew
5213,1643,Zavod Meadow Braggot / 14.5% / IBU5 / 0.33l,180.0,Russia,0.330,14.5,Zavod
5256,1952,Birra del' Borgo Sedechigrad,850.0,NaN,0.330,16.0,NaN
5259,431,Mikkeller Black Bottle,800.0,Denmark,0.375,15.1,Mikkeller
5314,999,Ralfs OTT,637.0,99,0.330,99.0,999

### Step 2e. `(6 pts)`.  For each of the attribute(s) that had outliers, would it make sense to impute values to replace the outliers?  Why or why not? Answer in the cell below.  Be sure to identify which attribute you are referring to in answering the questions.

### Answer 2e here: 

It would not make sense to impute values for ABV cause a great amount of data is an outlier. 

HOW EVER we can Impute data in Size since there isnt that much data

### Step 3a. `(3 pts)` Determine how many missing values there are in each column and how many rows have missing values.  Show all your steps.

In [207]:
print(df.isna().sum())
print(df.isna().any(axis=1).sum())

Product_code            0
Name                    0
Retail_price          729
Country_of_Origin    1109
Size                  688
ABV                   692
Vendor               1026
dtype: int64

### Step 3b. `(2 pts)` Remove rows from the dataframe `using the .dropNA() method` that have more than 3 missing values. Use as many cells as you need and ensure you save the results back to your dataframe `df`.

In [ ]:
df = df.dropna(thresh=df.shape[1]-3)
df = df.dropna()
print(df.info())
print(df)